body {
    background-color: #6fd6ff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

.body {
    display: flex;
    justify-content: space-around;
}

.searchDiv {
    margin: 10px;
    padding: 10px;
    width: 75%;
    height: 90%;
    display: block;
    text-align: center;
    border: 1px solid white;
}

.searchBar {
    margin: 10px;
    padding: 10px;
}

.theResults {
    border-bottom: 1px solid white;
    margin: 5px;
    cursor: pointer;
}

/* .searchResults { */

/* } */

.readingListDiv{
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 25%;
    height: 90%;
    cursor: pointer;
    border: 1px solid white;
}

.readLater {
    margin: 5px;
    padding: 5px;
    border-bottom:  1px solid white;
}

.drag {
    color: grey;
    font-size: smaller;
}